{% extends 'index.html' %}
{% load i18n %}
{% block content %}
{% load custom_Tag %}
    {% for auction in auction %}

        <h4> {{ auction.title }} </h4>
        {% ifequal auction.active 0 %}
            <p>{% trans "Auction is not active! No bid and modification can be done on this Auction!" %}</p>
            {% if request.user.is_superuser %}
                <a href="/banbid/{{ auction.id }}/">{% trans "Click here to Ban Auction!" %}</a>
            {% endif %}
            <p>{% trans "Auction created by" %}: <b> {{ auction.author }} </b></p>
            <p>{% trans "Auction created on" %}: <b> {{ auction.timestamp }}</b></p>
            <p>{% trans "Auction ended at" %}: <b>{{ auction.bid_res }}</b></p>
            <p>{% trans "Details" %}: <b>{{ auction.details }}</b></p>
            {% trans "The winner of this auction is" %}: {{ auction.last_bider }}: <b>{{ bids.last_bid }}</b>
            <br>
            <br>
            <br>

        {% else %}
            {% ifequal auction.author|slugify  authuser|slugify %}

                <a href="/editbid/{{ auction.id }}/">{% trans "Edit Details" %}</a>
            {% endifequal %}

            {% if request.user.is_superuser and auction.banned == 0  %}
                <a href="/banbid/{{ auction.id }}/">{% trans "Click here to Ban Auction!" %}</a>
            {% endif %}
            {%  if auction.banned == 1 %}
                <label> Auction Banned! No modification can be done to this auction!</label>
            {% endif %}
            <p>{% trans "Auction created by" %}: <b> {{ auction.author }} </b></p>
            <p>{% trans "Auction created on" %}: <b> {{ auction.timestamp }}</b></p>
            <p>{% trans "Auction ends at" %}: <b>{{ auction.bid_res }}</b></p>
            <p>{% trans "Details" %}: <b>{{ auction.details }}</b></p>
            {% trans "Current bid made by" %} {{ auction.last_bider }}: {{ auction.last_bid }} {{ "€" }}
            <p>
            {% trans "Current bid converted to the latest exchange rate" %}: {{ auction.last_bid|multiply:dollar }} {{ "$" }}
            <p>
                {% if guest %}
                    {{ guest }}
                    </p>

                {% endif %}
            {% if not guest %}

                {% if auction.author != authuser and auction.last_bider != authuser and auction.banned == 0 %}

                    {%  if auction.last_bider == authuser %}
                        <label>The logged in user is the one who did the last bid</label>
                    {% endif %}

                    <form action="/makebid/{{ auction.id }}/" method="post">
                        {% csrf_token %}
                        <input type="number" step="0.01" name="bid" min="{{ auction.last_bid }}" required="" id="bid"
                               placeholder={{ auction.last_bid }}>
                        <input type="hidden" name="version" value="{{ auction.version }}">
                        <input type="submit" value="Bid">
                    </form>
                {% else %}
                    {% if auction.author|slugify == authuser|slugify and auction.last_bider|slugify == authuser|slugify %}
                <label>You cannot bid on your own auction !</label>
                    {% elif auction.author|slugify != authuser|slugify and auction.last_bider|slugify == authuser|slugify %}
                        <label><i><h6>You cannot make an offer in your own bid !</h6></i></label>
                    {% endif %}
                    {% endif %}




            {% endif %}

            </p>
            <br>
            <br>
            <br>
        {% endifequal %}
    {% empty %}
        <p>{% trans "No bids" %}<p>

    {% endfor %}

{% endblock %}

