{% extends 'index.html' %}
{% load i18n %}
{% block title %}{% trans "Edit your bid" %} {% endblock %}

{% block content %}

<p><b>{% trans "Edit Bid:" %}. {{ title }}</b></p>
    <form action="/edit_auction_details/{{ id }}/" method="post">
        {%  csrf_token %}
       <p>{% trans " Details:"%}  <textarea name="details" cols="50" rows="20">{{ bid_details }}</textarea></p>
        <input type="number" name="version" hidden value="{{ version }}">
        <input type="submit" value="Change">
    </form>

{% endblock %}
