
{% extends "base.html" %}
{% load i18n %}
{% block navigation %}
                        <ul class="nav nav-tabs" id="sync-tabs">
                            <li class="active text-center "><a class="text-center" data-toggle="tab" href="#home">{% trans "Login" %}</a> </li>
                            <li class=""><a href="/register">{% trans "Register" %}</a></li>
                        </ul>
                    </div>
                    <div class="tab-content ">
                        <div id="home" class="tab-pane fade in active col-lg-12 ">
                            <div class="wrapper ">

                                <form class="form-signin " method="post">
                                    <!--<h2 class="form-signin-heading">Login</h2>-->
                                    {% csrf_token %}
                                    <div class="loginclass">
                                    {% for field in form %}

                                    <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag }}: {{ field }}
                                    </div>
                                        </div>
                                    {% endfor %}

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Login" %}</button>
                                </form>
                            </div>
                        </div>

                    </div>

            {% endblock %}