{% extends "base.html" %}
{% load i18n %}
{% block navigation %}
                    <ul class="nav nav-tabs" id="sync-tabs">
                        <li class="active text-center "><a href="/login">{% trans "Login" %}</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#menu1">{% trans "Register" %}</a></li>
                    </ul>
                </div>
                <div class="tab-content ">
                    <div id="menu1" class="tab-pane fade col-lg-10 fade in active ">
                        <div class="">

                            <form action="" class="form-signin" method="post">
                            {% csrf_token %}
                                    {% for field in form %}

                                    <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag }}: {{ field }}
                                    </div>
                          {% endfor %}
                                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Register" %}</button>

                            </form>

                        </div>
                    </div>

                </div>

{% endblock %}