{% extends "base.html" %}
{% load i18n %}

<h2> {% trans "Add Auction" %}</h2>
{% block content %}

<p><b>{% trans "Confirm the creation of an Auction" %}</b></p>
{% if error %}
  {{ error}}
{% endif %}

<p>{{b_title}}</p>
<p>{{b_details}}</p>
<p>{{b_bid}}</p>
<p>{{b_res}}</p>

    <form action="/savebid/" method="post">
        {% csrf_token %}
         {{ form.as_p }}
         <INPUT TYPE=HIDDEN NAME="b_title" VALUE={{b_title}}>
		 <INPUT TYPE=HIDDEN NAME="b_details" VALUE={{b_details}}>
         <INPUT TYPE=HIDDEN NAME="b_bid" VALUE={{b_bid}}>
		 <INPUT TYPE=HIDDEN NAME="b_res" VALUE={{b_res}}>
        <input type="submit" value="Submit">
    </form>


{% endblock %}